name: Continuous Integration with Maven Run Tests when push to Main branch and newly created PRs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Maven
        run: |
          sudo apt-get update
          sudo apt-get install -y maven
      - name: Set up JDK 1.11
        uses: actions/setup-java@v2
        with:
          java-version: 11.x
          distribution: "adopt"

      - name: Build with Maven
        run: mvn -B package --file back/pom.xml

      - name: Test with Maven
        run: mvn -B test --file back/pom.xml

      - name: Log coverage percentages to workflow output
        run: |
          echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
          echo "branches = ${{ steps.jacoco.outputs.branches }}"
    
      - name: Generate JaCoCo badge
        id: jacoco-badge
        uses: cicirello/jacoco-badge-generator@v2
        with:
            generate-branches-badge: true
            jacoco-csv-file: back/target/site/jacoco/jacoco.csv

      - name: Upload JaCoCo Report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: |
            ${{ github.workspace }}/**/build/reports/jacoco/test/html/*
            ${{ github.workspace }}/**/target/site/jacoco/*

      - name: Publish back Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
            files: |
                ${{ github.workspace }}/**/target/surefire-reports/TEST-com.openclassrooms.bobapp.BobappApplicationTests.xml
                ${{ github.workspace }}/**/target/surefire-reports/TEST-com.openclassrooms.bobapp.controller.JokeControllerTest.xml
                
          
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
                context: ./back
                file: ./back/Dockerfile
                push: true
                tags: ${{ secrets.DOCKERHUB_USERNAME }}/bobapp-back-sfy:latest
  