name: Frontend Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test_front:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20.x"

      - name: Install Dependencies
        run: |
          cd ${{ github.workspace }}/front
          npm install

      - name: Run Angular Tests with Code Coverage
        run: cd ${{ github.workspace }}/front && npm run test:prod

      - name: Upload Test Results
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: ${{ github.workspace }}/front/coverage/bobapp
  sonar-front:
    needs: [test_front]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        with:
          fetch-depth: 0
          projectBaseDir: ./front
          args: >
            -Dsonar.organization=shiffff
            -Dsonar.projectKey=shiffff_Gerez-un-projet-collaboratif-en-int-grant-une-demarche-CI-CD-front
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_FRONT }}
  dockerCreate:
    needs: [test_front, sonar-front]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image and push on Dockerhub
        uses: docker/build-push-action@v5
        with:
          context: ./front
          push: true
          tags: shifff/bobapp_front:${{ github.sha }}
